<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Computer Network</h1>
            <span>Chinese Academy of Sciences</span>
            <span><address>Beijing, China</address><time>2013 to 2016</time></span>
        </header>
        <p>
            <em>Thesis: Network application recognition and classification.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Software Engineering</h1>
            <span>Harbin Institute of Technology</span>
            <span><address>Harbin, China</address><time>2009 to 2013</time></span>
        </header>

    </article>
</section>
