<section class="thirteen columns">
    <h1>Presentation</h1>
    <article>
    	<p> The 42nd International Conference on Software Engineering (ICSE 2020), Seoul, South Korea. Studying the Characteristics of Logging Practices in Mobile Apps: A Case Study on F-Droid. </p>
    	<br>
        <p> The 34th IEEE/ACM International Conference on Automated Software Engineering (ASE 2019), San Diego, United States. An Experience Report of Generating Load Tests Using Log-recovered Workloads at Varying Granularities of User Behaviour. </p>
        <br>
        <p> Consortium for Software Engineering Research (CSER 2019), Markham, Canada. An Experience Report of Generating Load Tests Using Log-recovered Workloads at Varying Granularities of User Behaviour.</p>
        <br>
        <p> Advanced Semiconductor Material Lithography (ASML), Veldhoven, Netherlands. Towards Just-in-time Mitigation of Performance Regression Introducing Changes.</p>
        <br>
        <p> Visualizing Systems and Software Performance (VSSP), Dagstuhl, Germany. The history behind the Code Mining & Refactoring.</p>
        <br>
        <p> The 33rd International Conference on Software Maintenance and Evolution (ICSME 2017), Shanghai, China. An Exploratory Study of Performance Regression Introducing Code Changes.</p>
    </article>

</section>