<section class="thirteen columns">
    <h1>Profile</h1>
    <article>
        <p>I am currently an Associate Professor at School of Computer Science, Wuhan University. Prior to joining Wuhan University, I was a senior researcher at Centre for Software Excellence, Huawei Canada. I received my Ph.D degree from Concordia University in Canada under supervision of Prof. <a href="https://ece.uwaterloo.ca/~wshang">Weiyi Shang</a>. My research interest lies in software performance engineering, software performance testing, software log mining, code clone detection.</p>

        <p>I am looking for self-motivated Ph.D. and Master students to work with me. If you are interested, please contact me via email.</p>

    </article>
</section>