<section class="thirteen columns">
    <h1>Publication</h1>
    <article>
     <header>
        <h1>PhD publication</h1>
      </header>
      <p>An Exploratory Study of Performance Regression Introducing Code Changes. Jinfu Chen and Weiyi Shang. 2017 IEEE International Conference on Software Maintenance and Evolution (ICSME 2017). (Acceptance rate 27.8%)
      </p>
    </article>

    <article>
     <header>
        <h1>Master publication</h1>
      </header>
      <p>A Method and System for Thunder Traffic Online Identification. Jinfu Chen, Peng chang, Gaochao Li. 2016 International Conference on Engineering Technology and Application (ICETA 2016).
      </p>
      <br>
      <p>Research of Encrypted Traffic Classification based on Sliding Window of Flow First N Packets. Liu Yang, Jinfu Chen, Peng Chang, Xiaochun Yun. 2016 Chinese Computer Network Security Annual Conference.
      </p>
      <br>
      <p>Research of Peer-to-peer Application Traffic Classification. Chen Jinfu, Zhao Hui, Chang Peng, Zhang Yongzheng. Computer Application and Software (Chinese Journal).
      </p>
    </article>
    <article>
     <header>
        <h1>Bachelor publication</h1>
      </header>
      <p>Load Balance of the Original Pages Storage in the Distributed Crawling System. <a href="http://homepage.hit.edu.cn/wzzhang">Zhang Weizhe</a>, Zhang Hongli, Chen Jinfu, Yu Chuanliang. 2012 International Information Institute (Tokyo).
      </p>
    </article>
</section>