<section class="thirteen columns">
    <h1>Publication</h1>
    <!--
    <article>
     <header>
        <h1>PhD publication</h1>
      </header>
      <p>An Exploratory Study of Performance Regression Introducing Code Changes. Jinfu Chen and Weiyi Shang. 2017 IEEE International Conference on Software Maintenance and Evolution (ICSME 2017). (Acceptance rate 27.8%)
      <a href="/static/post/icsme.pdf" download="/static/post/icsme.pdf">PDF</a>
      </p>
    </article>
    -->

    <article>
      <p>[EMSE 2020] Lizhi Liao, <em>Jinfu Chen</em>, Heng Li, Yi Zeng, Weiyi Shang, Jianmei Guo, Catalin Sporea, Andrei Toma and Sarah Sajedi. Using Black-Box Performance Models to Detect Performance Regressions under Varying Workloads: An Empirical Study. Empirical Software Engineering. </p>
      <br>

      <p>[ICSE 2020] Zishuo Ding, <em>Jinfu Chen</em>, Weiyi Shang. Towards the Use of the Readily Available Tests from the Release Pipeline as Performance Tests. Are We There Yet? The 42nd International Conference on Software Engineering. <em>ACM SIGSOFT Distinguished Paper Award.</em> </p>
      <br>

      <p>[ICSE DS 2020] <em>Jinfu Chen</em>. Performance Regression Detection in DevOps. The 42nd International Conference on Software Engineering Doctoral Symposium.</p>
      <br>

      <p>[ASE 2019] <em>Jinfu Chen</em>, Weiyi Shang, Ahmed E. Hassan, Yong Wang and Jiangbin Lin. An Experience Report of Generating Load Tests Using Log-recovered Workloads at Varying Granularities of User Behaviour.  The 34th IEEE/ACM International Conference on Automated Software Engineering.</p>
      <br>

      <p>[EMSE 2019] Yi Zeng, <em>Jinfu Chen</em>, Weiyi Shang and Tse-Hsun Chen. Studying the Characteristics of Logging Practices in Mobile Apps: A Case Study on F-Droid. Empirical Software Engineering. <em>This paper is invited to be presented at ICSE 2020 as Journal First paper.</em></p>
      <br>
      
      <p>[ICSME 2017] <em>Jinfu Chen</em> and Weiyi Shang. An Exploratory Study of Performance Regression Introducing Code Changes.  The 33rd IEEE International Conference on Software Maintenance and Evolution. (Acceptance rate 27.8%)
      <a href="/static/post/icsme.pdf" download="/static/post/icsme.pdf">PDF</a>
      </p>
      <br>

      <p>[ICCIA 2017] Yang Liu, <em>Jinfu Chen</em>, Peng Chang and Xiaochun Yun. A Novel Algorithm for Encrypted Traffic Classification based on Sliding Window of Flow’s First N Packets.  The 2nd IEEE International Conference on Computational Intelligence and Applications.</p>
      <br>

    </article>
</section>