<section class="thirteen columns">
    <h1>Service</h1>
    <article>
        <p>  Reviewer: IEEE Transactions on Software Engineering </p>
    	<p>  Reviewer: Empirical Software Engineering </p>
    	<p>  Reviewer: Journal of Software System </p>
        <p>  Reviewer: Automated Software Engineering </p>
    	<p>  Reviewer: IEEE transactions on reliability </p>
    	<p>  Reviewer: Journal of Software: Evolution and Process </p>
        <p>  PC Member: ICPC 2024 Tools and Demos Track </p>
        <p>  PC Member: ICPE 2024 Data Challenge Track </p>
        <p>  PC Member: MSR 2023 Technical Track </p>
        <p>  PC Member: SANER 2023 Technical Track </p>
        <p>  PC Member: IWSC 2023 </p>
        <p>  PC Member: MSR 2022 Technical Track </p>
	    <p>  PC Member: ASE 2021 Artifact Evaluation Track </p>
	    <p>  PC Member: ICPE 2021 Posters and Demos </p>
	    <p>  PC Member: ICPE 2021 Artifact Evaluation Track</p>
        <p>  PC Member: ICPE 2020 Artifact Evaluation Track </p>
        <p>  PC Member: IBF2020 - The Second International Workshop on Intelligent Bug Fixing</p>
        <p>  Student Volunteer: 2018 RoboCup International Symposium, Montreal, Canada </p>
    </article>

</section>
